<blockquote>
    <p>{{comments}}</p>
    <footer>{{#capitalize name.first name.last}}{{/capitalize}}</footer>
</blockquote>
<button id="btnEditModal" class="btn btn-primary btn-lg">
    Edit
</button>
<!-- Modal -->
<div class="modal" id="crudDetailsEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <form role="form" id="frmCrudDetailsEdit">
                    <div class="form-group name">
                        <label for="gruntModel_firstName">First Name</label>
                        <input type="text" class="form-control" id="gruntModel_firstName" value="{{name.first}}">
                        <label for="gruntModel_lastName">Last Name</label>
                        <input type="text" class="form-control" id="gruntModel_lastName" value="{{name.last}}">
                    </div>
                    <div class="form-group comments">
                        <label for="gruntModel_comments">Quote</label>
                        <textarea id="gruntModel_comments" class="form-control">{{comments}}</textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-reset-model" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-save-model">Save changes</button>
            </div>
        </div>
    </div>
</div>